{% macro render_date_field(field, min_date = none, max_date = none) %}


{# {{ field.label(class_='form-control label-text') }} #}

<label for='{{ field.label.field_id }}' class='form-control w-full max-w-xs'>
    <div class='label'>
        <span class='label-text'>{{ field.label.text }}</span>
    </div>
    <input class='input input-bordered valid:input-success invalid:input-error' id='{{ field.id }}' max='{{ max_date }}' min='{{ min_date }}'
        name='{{ field.id }}' type='date' required value='{{ field.data }}' x-on:change='validateDates()'
        x-ref='{{ field.id }}'>
    <div class='label block'>
        {% for error in field.errors %}
        <span class='label-text-alt text-error block'>{{ error }}</span>
        {% endfor %}
    </div>
</label>

{% endmacro %}