{% from 'macros/render_form.jinja' import render_date_field, render_button %}

<form x-data='dateForm()' x-init='$nextTick(() => validateDates())'
    x-target='dateSelectForm formValidEvent chartDataUrl' x-target.422='dateSelectForm' id='dateSelectForm'
    @ajax:before='$store.loading = true' @ajax:error='$store.loading = false'
    class='form' method='post' action='{{ urls[1] }}'>
    {{ form.hidden_tag() }}
    {{ render_date_field(form.start_date, time_range[0], time_range[1]) }}
    <div class='mb-3'>
        {{ render_date_field(form.end_date, time_range[0], time_range[1]) }}
    </div>
    {{ render_button(form.submit) }}
    <div class='spinner-border spinner-border-sm text-primary' role='status' x-data x-cloak
        :class='$store.loading ? "d-inline-flex" : "d-none"'>
        <span class='visually-hidden'>Loading...</span>
    </div>
</form>
<div id='chartDataUrl' x-init='$store.chart.setUrl("{{ urls[0] }}")'></div>
<div id='formValidEvent'>
    {% if post_request_successful %}
    <div x-init='$dispatch("form:validated")'></div>
    {% else %}
    {% endif %}
</div>
<div x-init='$nextTick(() => {$store.chart.newChart()})'
    @form:validated.window='$nextTick(() => {$store.chart.updateChart()})'>
</div>