{% from 'macros/render_form_elements.jinja' import render_date_field %}

<form class='box' x-data='formValidationManagement("{{ time_range[0] }}","{{ time_range[1] }}")' id='dateSelectForm'
    method='post' action='{{ urls[1] }}' x-on:submit.prevent='$store.chart.loading = true;
                $store.chart.setUrl("{{ urls[2] }}", $refs.start_date.value, $refs.end_date.value);
                $nextTick(() => {$store.chart.newChart("{{ canvas_id }}")});'>
    <!-- CSRF tag -->
    {{ form.hidden_tag() }}
    <!-- Start date -->
    {{ render_date_field(form.start_date, time_range[0], time_range[1]) }}
    <!-- End date -->
    {{ render_date_field(form.end_date, time_range[0], time_range[1]) }}
    <!-- Submit button -->
    <div class='field'>
        <div class='control'>
            <button type='submit' class='button is-primary is-fullwidth'
                x-bind:class='$store.chart.loading ? "is-loading" : ""'>
                Atlasīt
            </button>
        </div>
    </div>
</form>
<p class='is-size-7'>Piezīme: uz datora ar taustiņu <span class='tag'>Ctrl</span> un peles ritenīti vari pietuvināt
    grafiku. Ar <span class='tag'>Ctrl</span> un kreiso peles pogu vari pārbīdīt grafiku</p>