{% extends 'base.jinja' %}

{% block title %}<title>eTalonu validācijas - Lapa nav atrasta</title>{% endblock %}

{% block page_content %}
Tests
<section class='section'>
    <h1 class='title has-text-centered'><span class='icon is-large has-text-warning'><i
                class='fa-solid fa-notdef'></i></span>Lapa nav atrasta</h1>
</section>
{% endblock %}
