{% extends 'base.jinja' %}

{% block title %}<title>eTalonu validācijas - Metode nav atļauta</title>{% endblock %}

{% block page_content %}
<h1 class='display-1'>Metode nav atļauta</h1>
{% endblock %}