{% extends 'base.jinja' %}

{% block title %}<title>eTalonu validācijas - Iekšējā servera kļūda</title>{% endblock %}

{% block page_content %}
<section class='section'>
    <h1 class='title has-text-centered'><span class='icon is-large has-text-warning'><i
                class='fa-solid fa-server'></i></span>Iekšējā servera kļūda</h1>
</section>
{% endblock %}