<!DOCTYPE html>
<html lang='lv'>


<head>
  {% block head %}

  <meta charset='utf-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no' />

  <script>
    const darkMode = JSON.parse(localStorage.getItem('darkMode') || 'false');
    const isAuto = JSON.parse(localStorage.getItem('isAuto') || 'true');

    if (isAuto) {
      const isDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
      document.documentElement.dataset.theme = isDark ? 'dark' : 'light';
    } else {
      document.documentElement.dataset.theme = darkMode ? 'dark' : 'light';
    }
  </script>


  <link rel='icon' href='{{ url_for("static", filename="favicon.ico") }}' type='image/x-icon' />

  <style>
    [x-cloak] {
      display: none !important;
    }
  </style>

  <link rel='stylesheet' href='{{ url_for("static", filename="css/main.css") }}'>

  {% block title %}
  {% endblock title %}

  {% endblock head %}
</head>

<body>
  <!-- Header -->
  <header class='container'>
    <!-- Navigation bar -->
    <nav class='navbar' x-data='{ menuOpen: false}'>
      <!-- Brand -->
      <div class='navbar-brand'>
        <a href='{{ url_for("main.index") }}' class='navbar-item'>eTalonu validācijas</a>
        <!-- Button to display navigation menu on touch devices -->
        <button class='navbar-burger' aria-label='Izvēlne' x-on:click='menuOpen = !menuOpen'
          x-on:click.outside='menuOpen = false' x-bind:class='{"is-active": menuOpen}' x-bind:aria-expanded='menuOpen'>
          <span aria-hidden='true'></span>
          <span aria-hidden='true'></span>
          <span aria-hidden='true'></span>
          <span aria-hidden='true'></span>
        </button>
      </div>
      <!-- Links -->
      <div class='navbar-menu' x-bind:class='{"is-active": menuOpen}'>
        <div class='navbar-end'>
          <a href='{{ url_for("main.routes") }}'
            class='navbar-item {{ "is-underlined" if request.path == url_for("main.routes") }}'>Populārākie maršruti</a>
          <a href='{{ url_for("main.times") }}'
            class='navbar-item {{ "is-underlined" if request.path == url_for("main.times") }}'>Braucieni stundā</a>
          <!-- Dropdown for theme selection -->
          <div class='navbar-item has-dropdown is-hoverable'>
            <a class='navbar-item' x-transition
              x-show='($store.darkMode.on == false & $store.darkMode.isAuto == false)'><span class='icon-text'><span
                  class='icon has-text-warning'><i class='fa-solid fa-sun'></i></span><span class='is-hidden-desktop'>
                  Gaišais motīvs</span></span></a>
            <a class='navbar-item' x-transition
              x-show='($store.darkMode.on == true & $store.darkMode.isAuto == false)'><span class='icon-text'><span
                  class='icon has-text-link'><i class='fa-solid fa-moon'></i></span><span class='is-hidden-desktop'>
                  Tumšais
                  motīvs</span></span></a>
            <a class='navbar-item' x-transition x-show='$store.darkMode.isAuto == true'><span class='icon-text'><span
                  class='icon has-text-primary'><i class='fa-solid fa-desktop'></i></span><span
                  class='is-hidden-desktop'>
                  Noklusējuma</span></span></a>
            <div class='navbar-dropdown is-right'>
              <a class='navbar-item' x-on:click='$store.darkMode.setLight()'><span class='icon has-text-warning'><i
                    class='fa-solid fa-sun'></i></span> Gaišais
                motīvs</a>
              <a class='navbar-item' x-on:click='$store.darkMode.setDark()'><span class='icon has-text-link'><i
                    class='fa-solid fa-moon'></i></span> Tumšais
                motīvs</a>
              <a class='navbar-item' x-on:click='$store.darkMode.setAuto()'><span class='icon has-text-primary'><i
                    class='fa-solid fa-desktop'></i></span>
                Noklusējums</a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <!-- Main content -->
  <main class='container'>
    {% block page_content %}
    {% endblock page_content %}
  </main>
  <!-- Footer -->
  <footer class='footer'>
    <div class='content has-text-centered'>
      <p>
        Jēkabs Balodis | <a
          href='https://data.gov.lv/dati/eng/dataset/e-talonu-validaciju-dati-rigas-satiksme-sabiedriskajos-transportlidzeklos'>Dati
          no Rīgas Satiksmes</a> | <a href='https://github.com/jekabsbalodis/eTalonu_validacija'>Pirmkods</a>
    </div>
  </footer>
  <script src='{{ url_for("static", filename="js/bundle.js") }}' defer></script>
  {% block scripts %}
  {% endblock scripts %}
</body>

</html>