<!DOCTYPE html>
{% if session.get('theme') == 'dark' %}
<html lang='lv' data-theme='dark'>
{% else %}
<html lang='lv' data-theme='light'>
{% endif %}


<head>
  {% block head %}

  <meta charset='utf-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no' />

  <link rel='icon' href='{{ url_for("static", filename="favicon.ico") }}' type='image/x-icon' />

  <style>
    [x-cloak] {
      display: none !important;
    }
  </style>

  <link rel='stylesheet' href='{{ url_for("static", filename="css/main.css") }}'>

  {% block title %}
  {% endblock title %}

  {% endblock head %}
</head>

<body>
  <!-- Header -->
  <header class='container'>
    <!-- Navigation bar -->
    <nav class='navbar' x-data='{ menuOpen: false}'>
      <!-- Brand -->
      <div class='navbar-brand'>
        <a href='{{ url_for("main.index") }}' class='navbar-item'>eTalonu validācijas</a>
        <!-- Button to display navigation menu on touch devices -->
        <button class='navbar-burger' aria-label='Izvēlne' aria-expanded='false' x-on:click='menuOpen = !menuOpen'
          x-on:click.outside='menuOpen = false' x-bind:class='menuOpen ? "is-active" : ""'
          x-bind:aria-expanded='menuOpen ? "true" : "false"'>
          <span aria-hidden='true'></span>
          <span aria-hidden='true'></span>
          <span aria-hidden='true'></span>
          <span aria-hidden='true'></span>
        </button>
      </div>
      <!-- Links -->
      <div class='navbar-menu' x-bind:class='menuOpen ? "is-active" : ""'>
        <div class='navbar-end'>
          <a href='{{ url_for("main.routes") }}'
            class='navbar-item {{ "is-underlined" if request.path == url_for("main.routes") }}'>Populārākie maršruti</a>
          <a href='{{ url_for("main.times") }}'
            class='navbar-item {{ "is-underlined" if request.path == url_for("main.times") }}'>Braucieni stundā</a>
          <a href='{{ url_for("main.toggle_theme", current_page=request.path) }}' class='navbar-item'>
            {% if session.get('theme') == 'dark' %}
            ☀️<span class='is-hidden-desktop'> Gaišais motīvs</span>
            {% else %}
            🌑<span class='is-hidden-desktop'> Tumšais motīvs</span>
            {% endif %}</a>
        </div>
      </div>
    </nav>
  </header>
  <!-- Main content -->
  <main class='container'>
    {% block page_content %}
    {% endblock page_content %}
  </main>
  <script src='{{ url_for("static", filename="js/bundle.js") }}' defer></script>
  {% block scripts %}
  {% endblock scripts %}
</body>

</html>