{% extends 'base.jinja' %}
{% block title %}
<title>eTalonu validācijas</title>
{% endblock title %}

{% block page_content %}
<section class='section'>galvenās lapas teksts</section>
<span class="icon is-large">
  <i class="fas fa-home"></i>
</span>
{% endblock page_content %}