{% extends 'base.jinja' %}
{% block title %}
<title>eTalonu validācijas</title>
{% endblock title %}

{% block page_content %}
<section class='section'>
  <div class='content'>
    <p>
      Vai Tev kādreiz ir gribējies uzzināt to, kurā stundā labāk izvairīties no pārpildīta tramvaja?
    </p>
    <p>
      Vai arī Tu jau pats to zini, bet gribi pārliecināties par to, apskatot datos balstītu grafiku?
    </p>
    <p>
      Vai varbūt Tu gribi uzzināt, kurš ir visnepopulārākais Rīgas Satiksmes maršrutus un būt viens no 22 braucējiem
      nedēļā?
    </p>
    <p>
      <strong>
        Tagad tas ir iespējams!
      </strong>
    </p>
    <p>
      Piedāvāju Jūsu uzmanībai mājaslapu ar dažādiem grafikiem:
    <ul>
      <li>maršrutos veiktās eTalonu validācijas laika sprīdī;</li>
      <li>ik stundu veiktās eTalonu validācijas laika sprīdī.</li>
    </ul>
    </p>
  </div>
</section>
{% endblock page_content %}