{% from 'macros/render_scripts.jinja' import manage_chart, manage_form_validation %}

{% extends 'base.jinja' %}

{% block title %}
<title>eTalonu validācijas - Populārākie maršruti</title>
{% endblock title %}

{% block page_content %}

{% include 'partials/date_select_form.jinja' %}
<canvas id='mostUsedRoutesChart'></canvas>

{% endblock page_content %}

{% block scripts %}
{{ manage_chart('mostUsedRoutesChart') }}
{{ manage_form_validation(time_range[0], time_range[1]) }}
{% endblock scripts %}