{% extends 'base.jinja' %}

{% set canvas_id = 'mostUsedRoutesChart' %}

{% block title %}
<title>eTalonu validācijas - Populārākie maršruti</title>
{% endblock title %}

{% block page_content %}

<div class='flex flex-col sm:flex-row gap-6'>
    {% include 'partials/date_select_form.jinja' %}
    <div class='w-full sm:w-2/3 md:w-3/4 lg:w-4/5'>
        <canvas class='w-full h-auto' id='{{ canvas_id }}'></canvas>
    </div>
</div>

{% endblock page_content %}