{% extends "base.jinja" %}

{% block title %}
eTalonu validācijas - Braucieni stundā
{% endblock title %}

{% block head %}
{{ super() }}
<script src="https://unpkg.com/chart.js@4.4.3/dist/chart.umd.js"
  integrity="sha512-LUpacDQOhzI4MVomIbJOUbdKypLvklsznjLrjD9GwzynjSlF7qLy112SzTw+ZWJPxhBvNRLGGdW/7E1slOvsFA=="
  crossorigin="anonymous" defer></script>
<script src="https://unpkg.com/htmx.org@2.0.1/dist/htmx.min.js"
  integrity="sha512-/POjPSnGjDaJfmt9O7LOTz1eGoCQNsVSJdgxYTVjhnWRDmuDFTvzwQrxIxipRrakLw7IYJfOsanDe7WuP40zxw=="
  crossorigin="anonymous" defer></script>
{% endblock head %}

{% block page_content %}
<button id="test_button" type="button" class="btn btn-primary" hx-get="/tests" hx-target="#replace">press me</button>
<div id="replace">
  <div style="width: 75%; margin: auto;">
    <canvas id="myChart"></canvas>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      // Existing script goes here
      // Extract the data passed from Flask view
      const results = {{ results| tojson
    }};

    // Separate the data into hours and counts arrays
    const hours = results.map(result => result[0]);
    const counts = results.map(result => result[1]);

    // Get the context of the canvas element we want to select
    const ctx = document.getElementById('myChart').getContext('2d');

    // Create the bar chart
    const hourlyCountsChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: hours,
        datasets: [{
          label: 'Count of Validacijas',
          data: counts,
          backgroundColor: 'rgba(75, 192, 192, 0.2)',
          borderColor: 'rgba(75, 192, 192, 1)',
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  });
  </script>
</div>

{% endblock page_content %}
{% block scripts %}
<script>
  document.addEventListener('htmx:beforeRequest', function (event) {
    var button = document.querySelector('#test_button');
    button.disabled = true;
    button.innerHTML = '  <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span><span class="visually-hidden">Loading...</span>';
  });

  document.addEventListener('htmx:afterRequest', function (event) {
    var button = document.querySelector('#test_button');
    button.disabled = false;
    button.innerHTML = 'Press Me';
  });
</script>
{% endblock scripts %}