{% from 'macros/render_script.jinja' import render_chart_script %}

{% extends 'base.jinja' %}

{% block title %}
<title>eTalonu validācijas - Braucieni stundā</title>
{% endblock title %}

{% block page_content %}

{% include 'partials/date_select_form.jinja' %}
<canvas id='validationsByHourChart'></canvas>

{% endblock page_content %}

{% block scripts %}
{{ render_chart_script('validationsByHourChart', time_range[0], time_range[1]) }}
{% endblock scripts %}